PrettySimplePong/PrettySimplePong/Debug/Ball.obj
PrettySimplePong/PrettySimplePong/Debug/IUpdatable.obj
PrettySimplePong/PrettySimplePong/Debug/main.obj
PrettySimplePong/PrettySimplePong/Debug/Paddle.obj
PrettySimplePong/PrettySimplePong/Debug/PrettySimplePong.Build.CppClean.log
PrettySimplePong/PrettySimplePong/Debug/PrettySimplePong.log
PrettySimplePong/PrettySimplePong/Debug/PrettySimplePong.tlog/cl.command.1.tlog
PrettySimplePong/PrettySimplePong/Debug/PrettySimplePong.tlog/CL.read.1.tlog
PrettySimplePong/PrettySimplePong/Debug/PrettySimplePong.tlog/CL.write.1.tlog
PrettySimplePong/PrettySimplePong/Debug/PrettySimplePong.tlog/link.command.1.tlog
PrettySimplePong/PrettySimplePong/Debug/PrettySimplePong.tlog/link.read.1.tlog
PrettySimplePong/PrettySimplePong/Debug/PrettySimplePong.tlog/link.write.1.tlog
PrettySimplePong/PrettySimplePong/Debug/vc120.idb
PrettySimplePong/PrettySimplePong/Debug/vc120.pdb
PrettySimplePong/PrettySimplePong/Debug/Ball.obj
PrettySimplePong/PrettySimplePong/Debug/IUpdatable.obj
PrettySimplePong/PrettySimplePong/Debug/main.obj
PrettySimplePong/PrettySimplePong/Debug/PrettySimplePong.Build.CppClean.log
PrettySimplePong/PrettySimplePong/Debug/PrettySimplePong.log
PrettySimplePong/PrettySimplePong/Debug/PrettySimplePong.tlog/cl.command.1.tlog
PrettySimplePong/PrettySimplePong/Debug/PrettySimplePong.tlog/CL.read.1.tlog
PrettySimplePong/PrettySimplePong/Debug/PrettySimplePong.tlog/CL.write.1.tlog
PrettySimplePong/PrettySimplePong/Debug/PrettySimplePong.tlog/link.command.1.tlog
PrettySimplePong/PrettySimplePong/Debug/PrettySimplePong.tlog/link.read.1.tlog
PrettySimplePong/PrettySimplePong/Debug/PrettySimplePong.tlog/link.write.1.tlog
PrettySimplePong/PrettySimplePong/Debug/vc120.idb
PrettySimplePong/PrettySimplePong/Debug/vc120.pdb
PrettySimplePong/PrettySimplePong/Debug/Ball.obj
PrettySimplePong/PrettySimplePong/Debug/IUpdatable.obj
PrettySimplePong/PrettySimplePong/Debug/main.obj
PrettySimplePong/PrettySimplePong/Debug/PrettySimplePong.Build.CppClean.log
PrettySimplePong/PrettySimplePong/Debug/PrettySimplePong.log
PrettySimplePong/PrettySimplePong/Debug/PrettySimplePong.tlog/cl.command.1.tlog
PrettySimplePong/PrettySimplePong/Debug/PrettySimplePong.tlog/CL.read.1.tlog
PrettySimplePong/PrettySimplePong/Debug/PrettySimplePong.tlog/CL.write.1.tlog
PrettySimplePong/PrettySimplePong/Debug/PrettySimplePong.tlog/link.command.1.tlog
PrettySimplePong/PrettySimplePong/Debug/PrettySimplePong.tlog/link.read.1.tlog
PrettySimplePong/PrettySimplePong/Debug/PrettySimplePong.tlog/link.write.1.tlog
PrettySimplePong/PrettySimplePong/Debug/vc120.idb
PrettySimplePong/PrettySimplePong/Debug/vc120.pdb
